@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

html{
  font-family: 'Mukta';
  font-size: 62.5%;

}
body {
  margin: 0;
  font-family: 'Mukta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 243, 245);
  color:black;



}

p,h1, h2, h3,ul ,li,a{
  margin: 0;
  padding: 0;
  line-height: 0;
  text-decoration: none;
  color:black;
}
